@import'./node_modules/bootstrap/dist/css/bootstrap.css';
@import'./node_modules/@fortawesome/fontawesome-free/css/all.min.css';

li {
    list-style-type: none;

}
:root {
    --main-background:#f2f7ff;
}
img {
    width:100%;
}
.logo {
    margin-bottom: 2rem;
    img {
      width: 50px;
      margin-right: 10px;
    }
    }
