@import'./node_modules/bootstrap/dist/css/bootstrap.css';
@import'./node_modules/@fortawesome/fontawesome-free/css/all.min.css';

li {
    list-style-type: none;

}
:root {
    --main-background:#f2f7ff;
}
img {
    width:100%;
}