@import'./node_modules/bootstrap/dist/css/bootstrap.css';
@import'./node_modules/@fortawesome/fontawesome-free/css/all.min.css';

li {
    list-style-type: none;

}
body .btn-primary:hover {
    background-color: var(--hover-btn);
    border: 1px solid white;
}
:root {
    --header-height: 70px;
    --main-color: #3177f7;
    --main-background: #f2f7ff;
  }
img {
    width:100%;
}
.logo {
    margin-bottom: 2rem;
    img {
      width: 50px;
      margin-right: 10px;
    }
    }

